.sidebar .menu-style{
    background: red;
}

/* .router-outlet-body {
    overflow-x: hidden;
    overflow-y: auto;
} */
 .dashboard-body{ 
height: 600px;
width: 100%;
overflow-y: auto;
flex-grow: 1;
float: right;
background-color: red;
}  
.navbar .navbar-brand-wrapper {
    background-color:brown;
}
.navbar .navbar-menu-wrapper {
    background-color: brown;
}
.sidebar{
    background-color:white;
}
.sidebar .nav .nav-item .nav-link .menu-title  {
    color:black;
}
.text-small{
    color: black;
}
 .mb-2{ 
    color :black 
 } 




